/* Small Screens */
.mainNav {
  position: fixed;
  background-color: white;
  width: 97%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin-bottom: 100px;
}

.siteLogo {
text-align: center;
width: fit-content;
margin: 0 auto;
}

.navlinksContainer {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 90vh;
  width: 100%;
  background-color: white;
}

.navlinksContainer.open {
  display: block;
}

.navlinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40%;
  height: 45%;
  transition: all 1s;
}

.navlink {
  margin: 10px 0;
  font-size: 30px;
}

.toggleBtn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.hamburger,
.hamburger:before,
.hamburger:after {
  content: "";
  display: block;
  background-color: black;
  height: 2px;
  width: 100%;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
}

.hamburger:before {
  top: -8px;
}

.hamburger:after {
  top: 8px;
}

.numOfItems {
  margin-left: 5px;
}

.toggleBtn.open .hamburger {
  transform: rotate(45deg);
}

.toggleBtn.open .hamburger:before {
  transform: translateY(8px) rotate(90deg);
}

.toggleBtn.open .hamburger:after {
  transform: translateY(-8px) rotate(90deg);
}

/* Larger Screens */
@media (min-width: 768px) {
  .mainNav {
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .navlinksContainer {
    display: block;
    position: relative;
    height: auto;
    width: auto;
    opacity: 1;
  }

  .navlinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    margin-top: 0;
    height: 45%;
    font-size: 16px;
  }

  .navlink {
    margin-right: 10px;
    font-size: 15px;
  }

  .cart {
    text-align: right;
  }

  .toggleBtn {
    display: none;
  }
}
